@media only screen and (max-width: 1199px) {

.navbar-default .navbar-nav > li > a {   font-size: 12px;padding: 15px 4px;}
.command-services img, .our-company img{width: 100%;}
.thamb-info{left: 0;}
.work-box {padding: 0 45px;}
.blog_section .blog_left_containt .blog_img img {width: 100%;}
 .how_itwork_section li {width: 29%;}	
 .how_itwork_section::before {background-size: 30%;}
 .our-com-box {padding: 0 60px 0 60px;}
 .meganav-nav ul li { margin-right: 20px;margin-left: 20px;}
}


@media only screen and (max-width: 991px) {

.contact-no {font-size: 18px;}

.banner-caption {margin: -163px 0 0;}
.banner-title {font-size: 16px;height: 140px; padding: 20px 15px 35px 0;width: 270px;}
.banner-zip .check-avb {font-size: 18px; margin: 0 0 16px; }
.banner-zip{height: 140px;}
.thamb-info {font-size: 20px; line-height: 25px;}
.work-img::after, .work-img::before {display: none;}
.work-box { padding: 0;}
.work-box .box:nth-child(2) {margin: 0 15px;}
.our-com-box {padding: 0 0 0 60px;}
.sub-title {left: -70px;}
.contact-no {padding: 0 0 10px;}
.Schedule-btn {position: absolute; right: 0;top: 18px;}
.Schedule-btn li a {font-size: 10px; padding: 8px; font-weight: normal;}
.blog_section .blog_left_containt, .blog_section .blog_right_containt {width: 100%; float: left;}
.blog_section .blog_left_containt .blog_date_title {width: 18%;}
.blog_section .blog_left_containt .blog_date_title span {padding: 15px 0;}
.blog_section .blog_left_containt .blog_date_detail {width: 78%;}
.blog_right_containt .blog_popular_post .popular_post_content {width: 100%;}
.blog_right_containt .blog_popular_post .popular_post_content .post_content {margin: 0; width: 75%;}
.meganav-nav ul li {    margin-right:10px;    margin-left: 20px;}


 .how_itwork_section li{margin-right: 30px; width: 29%; font-size: 15px;}
 .how_itwork_section::before {background-size: 30%;}

}
@media only screen and (min-width:768px) {
.navbar li:hover .dropdown{display: block;}
}

@media (min-width: 992px) and (max-width: 1199px){

.navbar-default{z-index: inherit;}
.navbar .dropdown{text-align: left; z-index: 999;}
.navbar-default .navbar-nav .dropdown li a{padding: 9px 15px; font-size: 13px;}
.Schedule-btn li a{padding: 10px 15px; font-size: 12px;}
.meganav-nav ul li a{font-size: 12px;}
.meganav-nav ul li {margin-left: 20px;margin-right: 4px;}

}

@media (min-width:768px) and (max-width: 992px){
.Schedule-btn {position: absolute;right: 0;top: -42px;}
.navbar-nav{text-align: center;width: 100%;}
.navbar-collapse{width: 100%;}
.navbar-nav > li {display: inline-block;float: none;}

.navbar-default .navbar-nav > li > a {font-size: 11px;}
.navbar-default{z-index: inherit;}
.navbar .dropdown{text-align: left; z-index: 999;}
.navbar-default .navbar-nav .dropdown li a{padding: 9px 15px; font-size: 13px;}
.meganav-nav ul li a{font-size: 12px;}
.meganav-nav ul li {margin-left: 20px;margin-right: 4px;}
.meganav-nav ul li {margin: 7px 4px 7px 20px;}
}


@media (min-width: 768px) and (max-width: 990px){
.feature_section .feature_service_box {padding: 30px;}
.galary_section .galary_text {padding-top: 0;}
.company-video { padding-top: 145px;}
.banner-caption {margin: -159px 0 0;}
.contact_section .getin_touch_section .form_grp .btn {width: 100%}
.contact_section .select-dropdown {margin-bottom: 15px;}
.blog_right_containt .tags_section li a {padding: 8px 20px;}
.blog_right_containt .tags_section li {margin-right: 15px; margin-bottom: 15px;}

}




@media only screen and (max-width: 767px) {

.xs-padding-fifteen{padding: 0 15px !important;}
.logo{text-align: center;}
.logo a{display: inline-block;} 
.contact-no {font-size: 14px;text-align: center; padding: 10px 0 0;}
.banner-title {		padding: 20px 15px !important;font-size: 16px;height: auto;padding: 15px;text-align: center;width: 100%;}
.banner-title::before{ background: transparent; }
.banner-caption { margin: 0;}
.banner-zip {height: auto;padding: 20px 15px; background: #51B645; width: 100%;}
.page-title { font-size: 20px; line-height: 30px; margin: 0 0 30px; padding: 30px 0 0;}
.angle-left::before, .angle-right::before, .angle-top::before{content: ""}
.work-box .box { margin: 0 0 20px; width: 100%;}
.thamb-info {font-size: 30px;line-height: 38px;width: 100%;}
h3{ font-size: 14px; line-height: 20px;}
.work-box .box:nth-child(2){margin: 0 0 30px;}
.work-box .box i {font-size: 12px;}
.price-estimator p { font-size: 15px; padding: 0;}
.our-com-box { padding: 0 10px 0 60px;}
.footer h3 { font-size: 16px; line-height: 18px; margin: 0 0 10px; padding: 0 0 10px; height: auto;}
.f-box{margin: 0 0 20px;}
.footer {padding: 30px 0;}
.navbar-collapse, .navbar-collapse.in { overflow-y: inherit;}
.meganav-nav ul li {margin-right: 20px;margin-left: 15px;text-align: left;padding: 5px 0;border-bottom: 1px solid #61c955; float: none;}
.meganav-nav ul li:last-child {border: none;}
.meganav-nav ul li a {font-size: 15px;}
.navbar-toggle{ margin-right: 0; }
.navbar-nav{padding: 0 15px;}
.nav > li {border-bottom: 1px solid #e7e7e7;}
.nav > li:last-child{border: none;}
.collapse{display: none;}	
.navbar-default .navbar-nav > li > a {padding: 5px 0; font-size: 15px;}
.Schedule-btn {left: 0; right: inherit; position: absolute;top: 13px;}
.navbar-collapse{ width: 100%; }
.recycling {text-align: center; top: -18px;}
.recycling img{width: 60%}
.work-box {padding: 0 15px;}
.our-com-box h1 {padding: 40px 0 0; text-align: center;}
.testimonials .owl-carousel {padding: 0;}
.testimonials .owl-nav div{display: none;}
.testmonials-box {padding: 83px 10px 0;}
.testimonials .item p {font-size: 13px;}
.testimonials-rec::before {width: 150px;}
.testimonials .item::before { left: 30px; top: 20px;  }
.testimonials .item::after{right: 20px;}
.testimonials .item::after, .testimonials .item::before{ background-size: 100%; width: 30px;}
.testimonials .item .author {font-size: 15px; padding: 20px 0 0;}
.testimonials .item .date-pic {font-size: 12px;}
.footer-bottom{font-size: 12px; text-align: center;}
.footer-bottom p{margin: 0 0 10px;}
.footer-bottom .pull-left, .footer-bottom .pull-right {float: none !important;text-align: center;width: 100%;}
.owl-next, .owl-prev {background-size: 18px auto;height: 40px;width: 40px;}
.banner .owl-nav .owl-prev {left:10px;}
.banner .owl-nav .owl-next {right:10px;}
.owl-next{background-position:center -47px;}
.owl-prev{background-position:center 15px;}
.price-est .page-title {padding: 40px 0 0;}
.address-footer .address {width: 60%;}


/*Blog Section*/
.blog_right_containt .blog_popular_post .popular_post_content .post_content {width: 55%;}
.by_admin_text .admin_text, .by_admin_text .voluptate_text, .by_admin_text .comments_text {width: 20%; padding: 10px 0;}
.comment_box_section .comment_user_tect {padding-left: 20px;width: 72%;}
.comment_box_section .inner_comments_user {margin-left: 0}
.leave_comments_form {padding: 30px 20px;}
.leave_comments_form .form_grp .btn {width: 100%;}
.blog_section {padding: 40px 0}
.blog_right_containt .blog_category li a{font-weight: 300;}
.blog_section .blog_left_containt .blog_date_detail p {text-align: justify;}
.galary_img img{width: 100%;}
.blog_section .blog_left_containt .blog_detal {margin-bottom: 0;}
.blog_right_containt .tags_section li a {padding: 8px 20px;}
.blog_right_containt .tags_section li {margin-right: 15px; margin-bottom: 15px;}

/*CONTACT SECTION*/
.getinn_touch_form {padding: 34px 30px 34px 30px;}
.contact_section .getin_touch_section {margin-top: -70px;}
.contact_section .select-dropdown {margin-bottom: 15px;}


/*ABOUT US*/
.about_section .car_speciality li {margin-bottom: 15px;padding-left: 5px;padding-right: 5px;}
.about_section h2 {font-size: 24px;line-height: 40px;}
.feature_section { margin-top: -50px;}
.feature_section .feature_service_box {padding: 20px 30px;}
.feature_section .feature_service_box h1{font-size: 40px;}
.feature_section .feature_service_box h1 strong {font-size: 30px;}
.how_itwork_section li {width: 80%;margin: 40px auto;float: none;}
.how_itwork_section::before {bottom: -110px;background-size: 60%;}
.galary_section .btn-schedule {margin-bottom: 40px; width: 100%;}
.galary_thumb_img img{width: 100%; margin-bottom: 20px;}
.how_itwork_section .work_text {margin-top: 10px;margin: 0 auto;}
.innerpage_contect_section .title_contect h2 {font-size: 25px;}
.innerpage_contect_section .title_contect h3{font-size: 22px; line-height: 36px;}

.navbar-default .navbar-nav > li > a {font-size: 14px;font-weight: 300;padding:12px 0;text-transform: none;}
.navbar-default{z-index: inherit;}
.navbar-default #navbar{position: absolute;
top: 57px;
width: 100%;
z-index: 999;}
.navbar-nav .fa{display: none;}
.navbar-nav .dropdown-toggle{position: relative;}
.navbar-nav .dropdown-toggle:after{float: right;height:40px;line-height:40px;position: absolute;text-align: center;top:13px; right: 0px; width: 40px; content: "\f107"; font: normal normal normal 20px/1 FontAwesome; z-index: 99; cursor: pointer;}

.navbar .dropdown {
  background: #ffffff none repeat scroll 0 0;
  display: none;
  padding: 0;
  position: relative;
  width: 100%; box-shadow: none;
}
.navbar-default .navbar-nav .dropdown li a {
  border-bottom: 1px solid #f5f5f5;
  color: #333333;
  display: block;
  font-size: 13px;
  font-weight: 300;
  padding: 9px 0;
}


}

@media only screen and (max-width: 480px) {

.logo a{width: 50%} 
.logo a img{width: 100%;}
.blog_right_containt .blog_popular_post .popular_post_content .post_content {width:42%;}
.how_itwork_section::before {bottom: -110px;background-size: 80%;}
.how_itwork_section .work_text {margin-top: 10px;margin: 0 auto;}
.about_section .car_speciality li {margin-bottom: 15px;padding-left: 5px;padding-right: 5px; font-size: 12px;}
.by_admin_text .admin_text, .by_admin_text .voluptate_text, .by_admin_text .comments_text {width: 100%; padding: 10px 0;}
}
@media only screen and (max-width: 320px) {
.how_itwork_section li {width: 100%;margin: 40px auto;float: none;}
}




